/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --C-cyan: #00c4f2;
  --C-black: #252a3a;
  --C-blue: #3f3d56;
  --C-light-gray: #f2f2f2;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--C-light-gray);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component*/
.right-section-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-section-heading h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--C-black);
  padding-right: 25px;
}
.right-section-heading img {
  height: 30px;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .right-section-heading h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .right-section-heading h2 {
    font-size: 25px;
  }
}

/* End Component*/
/*_____________________________________________*/
/* Start Header*/
/*
header {
  position: relative;
  height: 70px;
}
header .logo img {
  height: 70px;
}
@media (max-width: 767px) {
  header .logo img {
    height: 40px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}
header .container nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--C-black);
  padding: 0 20px;
  font-weight: bold;
  height: 50px;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 767px) {
  header nav li a {
    font-size: 12px;
    padding: 0 10px;
  }
}
header nav li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--C-cyan);
  bottom: 0;
  left: -100%;
  transition: var(--main-transition);
}
header nav li:hover a::before {
  left: 0;
}
header .language {
  position: relative;
}
header .language a {
  color: var(--C-black);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header .language a {
    font-size: 12px;
  }
}
header .language ul {
  position: absolute;
  top: 30px;
  right: 00px;
  border: 1px solid var(--C-black);
  width: 120px;
  display: none;
}
header .language a:hover + ul {
  display: inline-block;
}
header .language ul li {
  width: 100%;
  padding: 10px 10px;
  color: var(--C-black);
  font-weight: bold;
}
header .language ul::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--C-black) transparent;
}*/
/* End Header*/
/*____________________________________________*/
/*Start Landing*/
.landing {
  position: relative;
}
.landing .container {
  min-height: calc(100vh - 70px);
  justify-content: center;
  align-items: center;
  display: flex;
}
.landing .text {
  max-width: 400px;
  margin-top: 8%;
  margin-right: 5%;
}
.landing .text h1 {
  color: var(--C-black);
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
}
.landing .text h1 span {
  color: var(--C-cyan);
}
.landing .text p {
  color: #bababa;
  font-size: 18px;
  margin: 0;
  line-height: 2;
}
.landing .imagesmall img {
  width: 280px;
  float: right;
  margin-right: 0%;
  display: none;
}
.landing .imageslarge img {
  width: 380px;
  float: right;
  margin-right: 5%;
  display: block;
  margin-top: -60%;
}
.landing .details {
  display: flex;
}
.landing .details div {
  width: 30%;
  margin-right: 5%;
}
.landing .details .title {
  color: var(--C-cyan);
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  font-weight: bolder;
}
.landing .details .descp {
  color: #3f3d56;
  font-size: 18px;
  margin: 0;
  line-height: 2;
  font-weight: bolder;
  border-right-style: solid;
  border-right-color: var(--C-cyan);
}
.landing .details .descp1 {
  color: #3f3d56;
  font-size: 18px;
  margin: 0;
  line-height: 2;
  font-weight: bolder;
}
@media (max-width: 991px) {
  .landing {
    position: relative;
    margin-top: 0%;
  }
  .landing .container {
    flex-direction: column;
    text-align: center;
    row-gap: 50px;
  }
  .landing .imagesmall img {
    display: block;
    width: 380px;
  }
  .landing .imageslarge img {
    display: none;
  }
  .landing .text {
    margin-top: 10%;
  }
}

@media (max-width: 767px) {
  .landing .imagesmall img {
    display: block;
    width: 280px;
    margin-top: 10%;
  }
  .landing .text {
    margin-top: 0%;
    margin-right: 0%;
  }
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 14px;
    max-width: 300px;
  }
  .landing .details {
    margin-left: 24%;
  }
  .landing .details .title {
    font-size: 15px;
    margin: 0;
  }
  .landing .details .descp {
    font-size: 13px;
    color: #3f3d56;
    border-right-style: none;
  }
  .landing .details .descp1 {
    font-size: 13px;
  }
  .landing .details div {
    width: 30%;
    margin-right: 10%;
    margin-top: 4%;
  }
}
/* End Landing*/
/*_____________________________________________*/
/*Start Archive*/
@media (max-width: 767px) {
  .archive .container a {
    margin-left: 10%;
  }
}
/* End Archive*/
/*_____________________________________________*/
/*Start Comment*/
.comment {
  margin-top: 10%;
  margin-bottom: 5%;
}
.comment-info {
  position: relative;
  margin-bottom: 20px;
}
.form-input {
  height: 40px;
  width: 100%;
  background-color: #f2f2f2;
  outline: none;
  border: 3px solid;
  border-color: transparent transparent var(--C-blue) var(--C-blue);
}
label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: var(--C-black);
}
.form-input:focus ~ label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ label {
  display: none;
}
.comment .container button {
  height: 40px;
  width: 100%;
  background-color: var(--C-blue);
  outline: none;
  border: none;
}
.comment .container button a {
  color: white;
}
@media (max-width: 767px) {
  .comment .container button {
    height: 35px;
  }
  .comment .container button a {
    font-size: 0.9em;
    margin: 0 0 0 0;
  }
  label {
    font-size: 0.8em;
  }
  .form-input {
    border: 2px solid;
    border-color: transparent transparent var(--C-blue) var(--C-blue);
  }
}
/* End Comment*/
/*_____________________________________________*/
/* Start Gallery*/
.wrapper {
  width: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery .image {
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  margin: 0 5px;
}
.details .title p.current-img {
  font-weight: 500;
}
.details .icon {
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev {
  left: 0px;
}
.slide.next {
  right: 0px;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}
.container .gallery span {
  position: relative;
}
.container .gallery span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 600px) {
  .gallery .image {
    width: 50%;
    padding: 4px;
  }
}
/* End Gallery*/
/*_____________________________________________*/
/* Start Footer Section*/
footer {
  position: relative;
  height: 80px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .cisco-logo img {
  height: 50px;
}
footer .social-media a {
  font-size: 20px;
  color: var(--C-blue);
  margin-right: 20px;
}
@media (max-width: 767px) {
  footer .container {
    display: block;
  }
  footer .social-media {
    float: right;
  }
}
/* End Footer Section*/
